/*Todo: NAV*/
.navbar, #block-login-user {

    background-color: white;
    border: 0;
    box-shadow: 2px 2px 5px darkgray;
    border-radius: 0;

}

.nav-link {
    font-weight: bold;
    font-size: 1.1em;
}

.nav-link:hover {
    color: #D80010 !important;
}

.active {
    color: #D80010 !important;
}

#nav-opina {
    padding: 0;
}

#nav-opina a {
    padding: 0 !important;

}

.banner {
    background: rgb(38, 0, 0);
    background: -moz-linear-gradient(90deg, rgba(38, 0, 0, 1) 0%, rgba(159, 28, 27, 1) 100%);
    background: -webkit-linear-gradient(
            90deg, rgba(38, 0, 0, 1) 0%, rgba(159, 28, 27, 1) 100%);
    background: linear-gradient(
            90deg, rgba(38, 0, 0, 1) 0%, rgba(159, 28, 27, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#260000", endColorstr="#9f1c1b", GradientType=1);
}

#logo-esteve {
    position: absolute;
    top: 0;
    z-index: 9;
}

#pre-nav {
    top: 0;
    position: absolute;
    height: 25px;
    background-color: #707070;
    text-align: right;
}

/*Todo: BODY */

#section-new-user input, #section-new-user select {
    margin-top: 10px;
}

#section-new-user fieldset {
    border: 1px solid snow;
    border-radius: 5px;
    padding: 10px;
}


/*Todo: Questionnaire */
.carousel-indicators-numbers li {

    text-indent: 0;
    margin: 0 2px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100%;
    line-height: 30px;
    color: #707070;
    /*background-color: #999;*/
    /*transition: all 0.25s ease;*/

}

.carousel-indicators-numbers .active {
    color: #D80010;
}

.carousel input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    padding: 2px;
    background-clip: content-box;
    border: 1px solid #bbbbbb;
    border-radius: 50%;
}

.carousel input[type="radio"]:checked {
    background-color: #D80010;
}


.carousel input[type=radio]:checked ~ .check {
    border: 5px solid #D80010;
}

.carousel input[type=radio]:checked ~ .check::before {
    background: #D80010;
}

.carousel input[type=radio]:checked ~ span {
    color: #D80010;
}


.carru-questionnaire ul {
    margin-left: 12%;
    margin-right: 12%;

}

.carru-questionnaire {
    padding: 50px;
}

.carru-questionnaire .carousel-control-prev span {
    margin-bottom: 0;
}

div#control-carousel {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 30px;
    position: relative;
}

.info-question-user {
    background-color: #eee;
}


/*TODO class */

.letter-red {
    color: #D80010;
    font-weight: bold;
    font-size: 1.4em;
}

.letter-grey {
    color: #707070;
}

#block-login-user, .block2 {
    background-color: #eee;
}

/*Todo FORMS*/

form[name='login'] input, #block-login-user input, #block-login-user select {
    height: 60px;

}


form[name='login'] button, #btn-user-new {
    border-radius: 30px;
}


form[name='login'] {
    width: 80%;
}

form[name='form-new-user'] input, form[name='form-new-user'] select {
    height: 60px;
}

form[name='login-code'] button {
    margin-top: 15px;
    border-radius: 30px;
}

form[name='login-code'] button:hover {
    background-color: white;
    color: #D80010;
}


/*Todo HOME */

/*new user*/
#section-new-user {
    background-color: #eee;
}


#block-home #block-home-2 img {
    width: 100%;
    margin-top: 10px;
}

#block-home #block-home-2 .btn-questionnaire-home, .btn-users-invitation {
    width: 95%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 1.4em;
    border-radius: 15px;
    margin: auto;
    background-color: #D80010;
}

#block-home #block-home-2 .btn-questionnaire-home:hover {
    background-color: initial;
    color: #D80010;
}
.btn-users-invitation:hover{
    background-color: initial;
    color: #D80010;
}

#block-home #block-home-2 span {
    font-size: 1.2em;
    font-weight: bold;
    color: #D80010;
}

#block-home .btn-article {
    background-color: white;
    color: #D80010;
    border-radius: 30px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border: solid 2px #D80010;;
}

#block-home .btn-article:hover {
    background-color: #D80010;
    color: white;

}

#pop-pup {
    display: none;
    position: absolute;
    z-index: 9;
    width: 60%;
    right: 20%;
}

#btn-code-em {
    border-radius: 30px;
    background-color: white;
    color: #D80010;
}

#btn-code-em:hover {
    background-color: #D80010;
    color: white;
}


/*Todo : FOOTER*/
footer {
    margin-top: 30px;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    transform: scale(1.5);
}










